canvas {
  padding-left: 0;
  padding-right: 0;
}

html {
  overflow: hidden;
}

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
}

.wrapper {
  font-size: 0; /* get rid of extra spacing due to font-size */
  margin: 0 auto;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

#menuWrapper {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
  background-color: rgb(60, 60, 60);
  overflow: auto;
  font-family: "Arial";
  font-size: 14px;
  user-select: none;
  position: relative;
  color: yellow;
  width: inherit;
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
}

#elementMenu {
  display: flex;
  flex-flow: row wrap;
}

.elementMenuButton {
  background: none;
  border: none;
  text-align: left;
  user-select: none;
}

.elementMenuButton:hover {
  background-color: rgb(10, 10, 10);
  color: white !important;
}

.elementMenuButton:active {
  background-color: rgb(100, 100, 100);
  color: white !important;
}

.selectedElementMenuButton {
  outline: 1px solid white;
}

.optionsCol {
  float: left;
}

.spigotType {
  width: 75px;
}

#speedSliderDiv {
  margin-top: 4px;
  margin-bottom: 8px;
}

#speedSlider {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.8),
    rgba(0, 128, 0, 0.8)
  );
  outline: none;
  -webkit-appearance: none;
}

#zombieSliderDiv {
  margin-top: 4px;
  margin-bottom: 8px;
}

#zombieSlider {
  width: 55px;
  height: 10px;
  border-radius: 5px;
  outline: none;
}

#zombieCount {
  color: white;
}

#optionsCol2 {
  padding-left: 4px;
}

#fps-counter {
  position: absolute;
  top: 1px;
  right: 1px;
}

.optionButton {
  font-size: inherit;
  font-family: inherit;
  user-select: none;
  border: none;
  outline: none;
}

.optionButtonContainer {
  margin-top: 4px;
}

#clearButton:hover {
  background-color: rgb(255, 0, 0);
}

#clearButton:active {
  background-color: rgb(123, 0, 0);
}

#saveButton:hover {
  background-color: rgb(0, 255, 0);
}

#saveButton:active {
  background-color: rgb(0, 123, 0);
}

#loadButton:hover {
  background-color: rgb(255, 255, 0);
}

#loadButton:active {
  background-color: rgb(123, 123, 0);
}

#penSizeDiv {
  margin-bottom: 2px;
}
